@import 'reset.scss';
$police: 'Playfair Display';
$police-petit-titre:'Cormorant Garamond';
$color-beige: #fefaf2;
$color-beige-clair: #f7f4ef;
$rose: #d1a6a7;
$title-color: #6a676780;
$gris-clair: #6a6767;
$blanc: #fdfcfa;