@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';

.createaccount{
    display: flex;
    background-color: #fefaf2;
    height: 80vh;
    padding-top: 100px;
    
}
.welcome{
    font-family: $police;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
    
}
.title-welcome{
    font-size: 40px;
}
.text-new-account{
font-family: $police;
font-size: 20px;
color: $gris-clair;
width: 50%;
}
.create{
    font-family: $police;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}

.title-create{
    font-size: 40px; 
    
}
.btn-create{
    background-color: $rose;
    text-decoration: none;
    font-family:$police ;
    color: $gris-clair;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.input{
    height: 25px;
    width: 120%;
    border-radius: 20px;
    border: solid, 1px, $gris-clair;
    margin-bottom: 10px;
    margin-left: 10px;
}

.input-level{
    height: 30px;
    width: 35%;
    border-radius: 20px;
    border: solid, 1px, $gris-clair;
    margin-bottom: 10px;
    font-family: $police;
    font-size: 16px;
}
.option{
    font-family: $police;
    font-size: 16px;
    
}